<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주하는 질문</title>
    <link rel="stylesheet" href="/css/customer-qna-manage.css">
    <script src="/js/CustomerQnAManage.js"></script>
</head>
<body>
    <div id="header">자주하는 질문</div>
    <div id="search-container">
        <input type="text" id="search-input" placeholder="검색어를 입력하세요">
        <button id="register-button" onclick="openModal()">등록</button>
    </div>
    <table id="board">
        <thead>
            <tr>
                <th>No</th>
                <th>구분</th>
                <th>제목</th>
                <th>내용</th>
            </tr>
            <tr>
              <td>1</td>
              <td>일반</td>
              <td>업로드 할 때, xml 파일이 업로드 되지 않아요.</td>
              <td>첨부파일은 이미지 파일과 PDF 등의 문서 파일만 첨부가 가능합니다.</td>
            </tr>
        </thead>
        <!-- 데이터를 동적으로 추가하는 부분은 JavaScript를 사용하게 됩니다. -->
    </table>
    <div id="modal">
      <div class="form-group">
          <label for="category">구분:</label>
          <select id="category">
              <!-- 여기에 구분 옵션들을 추가하세요 -->
              <option value="옵션1">첨부파일</option>
              <option value="옵션2">게시글 작성</option>
          </select>
      </div>
      <div class="form-group">
          <label for="title">제목:</label>
          <input type="text" id="title">
      </div>
      <div class="form-group">
          <label for="content">답변 등록:</label>
          <input type="text" id="content">
      </div>
      <div class="modal-buttons">
        <button class="modal-confirm-button" onclick="confirmModal()">확인</button>  
        <button class="modal-close-button"onclick="closeModal()">취소</button>
      </div>
    </div>
</body>
</html>