<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/customer-qna-manage.css">
  <title>Document</title>
</head>
<body>
  <div class="Rectangle-1">
    <div class="MGTDocu-">
      MGTDocu / 문의관리
    </div>
    <div class="MGTDocu-2">
      <!-- <div class="Rectangle-3"></div> -->
      <form action="">
        <input class="Rectangle-3" type="text" />
      </form>
      <button class="submitbutton">등록</button>
    </div>
    <table>
      <tr>
        <td>No.</td>
        <td>구분</td>
        <td>제목</td>
        <td>회사명</td>
        <td>성명</td>
        <td>연락처</td>
        <td>이메일</td>
        <td>문의등록일</td>        
      </tr>
      <tr>
        <td>1</td>
        <td>일반</td>
        <td>문의내용</td>
        <td>A 컴퍼니</td>
        <td>뮤탈</td>
        <td>010-1234-1234</td>
        <td>abc@gmail.com</td>
        <td>2024-01-22 14:13:00</td>        
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>        
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>        
      </tr>
    </table>    
  </div>
  <div>

  </div>
</body>
</html>