<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocuMgt</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<header>
    <img src="https://cdn.imweb.me/thumbnail/20220908/9ee8ddcfb5039.png" alt="애플 로고">
</header>

<nav>
    <ul>
        <li><a href="#">문서관리</a>
            <ul>
                <li><a href="/project/manage">프로젝트관리</a></li>
                <li><a href="/businessCard">명함관리</a></li>
            </ul>
        </li>
        <li><a href="#">고객센터</a>
            <ul>
                <li><a href="/customer/qna">Q&A</a></li>
                <li><a href="/customer/faq">FAQ</a></li>
                <li><a href="/customer/notice">공지사항</a></li>
            </ul>
        </li>
        <li><a href="#">관리자</a>
            <ul>
                <li><a href="/member/manage">사용자관리</a></li>
                <li><a href="#" onclick="alert('구현중인 화면입니다.')">권한관리</a></li>
                <li><a href="#" onclick="alert('구현중인 화면입니다.')">키워드관리</a></li>
                <li><a href="/cmm">공통코드관리</a></li>
                <li><a href="/cmm/std-word">공통표준단어</a></li>

            </ul>
        </li>
    </ul>
</nav>

<!-- 이 아래에 내용을 추가하거나 웹 페이지 구성을 계속 진행하세요 -->

</body>
</html>
