<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docu.server.adapter.out.persistence.notice.NoticeMapper">

    <select id="getNoticeList" parameterType="NoticeTitleSearchEntity" resultType="NoticeEntity">
        SELECT
            notice_id,
            notice_user_id,
            notice_gubun_code,
            notice_title,
            notice_content,
            notice_popup_flag
        FROM mgt.notice
        <if test="noticeTitleName not in {null, ''}">
            WHERE notice_title LIKE CONCAT('%', #{noticeTitleName}, '%')
        </if>
    </select>


    <insert id="insertNotice" parameterType="NoticeEntity">
        INSERT INTO mgt.request_frequency_question
        (
            notice_title,
            notice_content,
            notice_user_id
        )
        VALUES
        (
            #{noticeTitle}
            , #{noticeContent}
            , 'admin'
        )
    </insert>

    <!--    <select id="exists" parameterType="WordEntity" resultType="java.lang.Integer">-->
    <!--        SELECT-->
    <!--        COUNT(*) AS cnt-->
    <!--        FROM  mgt.request_frequency_question-->
    <!--        <where>-->
    <!--            <if test="wordName not in {null, ''}">-->
    <!--                OR word_name = #{wordName}-->
    <!--            </if>-->
    <!--            <if test="engWordName not in {null, ''}">-->
    <!--                OR eng_word_name = #{engWordName}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--    </select>-->
    <!--    -->
    <!--    -->
</mapper>