<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docu.server.adapter.out.persistence.faq.FaqMapper">
    <select id="selectFaqList" parameterType="FaqTitleSearchEntity" resultType="FaqEntity">
        SELECT
            request_frequency_question_id
            , request_frequency_category
            , request_frequency_title
            , request_frequency_contents
            , reg_user_id
            , reg_dt
        FROM mgt.request_frequency_question;
        <if test="faqTitleName not in {null, ''}">
            WHERE request_frequency_title LIKE CONCAT('%', #{faqTitleName}, '%')
        </if>
    </select>

<!--    <insert id="insertStdWord" parameterType="WordEntity">-->
<!--        INSERT INTO mgt.request_frequency_question-->
<!--        (-->
<!--          word_name-->
<!--        , eng_word_name-->
<!--        , word_desc-->
<!--        , reg_user_id-->
<!--        , mdfr_user_id-->
<!--        )-->
<!--        VALUES-->
<!--            (-->
<!--              #{wordName}-->
<!--            , #{engWordName}-->
<!--            , #{wordDesc}-->
<!--            , 'admin'-->
<!--            , 'admin'-->
<!--            )-->
<!--    </insert>-->

<!--    <select id="exists" parameterType="WordEntity" resultType="java.lang.Integer">-->
<!--        SELECT-->
<!--        COUNT(*) AS cnt-->
<!--        FROM  mgt.request_frequency_question-->
<!--        <where>-->
<!--            <if test="wordName not in {null, ''}">-->
<!--                OR word_name = #{wordName}-->
<!--            </if>-->
<!--            <if test="engWordName not in {null, ''}">-->
<!--                OR eng_word_name = #{engWordName}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
<!--    -->
<!--    -->
</mapper>