<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docu.server.adapter.out.persistence.faq.FaqMapper">
    <select id="getFaqList" parameterType="FaqEntity" resultType="FaqEntity">

    </select>
</mapper>